root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{kt,kts}]
# Kotlin's own coding conventions recommend 120.
max_line_length = 120
ij_kotlin_allow_trailing_comma = true

[*.{md,yml,yaml,json,toml}]
indent_size = 2

[*.{py,sh}]
max_line_length = 120

[*.md]
trim_trailing_whitespace = false

[LICENSE]
trim_trailing_whitespace = false
